<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="auth-container">
        <h2>Đăng ký</h2>
        <form method="POST">
            <input type="text" name="full_name" placeholder="Họ và tên" required>
            
            <input type="text" name="username" placeholder="Tên đăng nhập" required>
            
            <input type="email" name="email" placeholder="Email" required>
            
            <input type="text" name="phone" placeholder="Số điện thoại" required>
            
            <input type="date" name="date_of_birth" placeholder="Ngày sinh" required>
            
            <select name="gender" required>
                <option value="" disabled selected>Giới tính</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
                <option value="Other">Khác</option>
            </select>
            
            <input type="password" name="password" placeholder="Mật khẩu" required>
            
            <input type="password" name="confirm_password" placeholder="Xác nhận mật khẩu" required>
            
            <button type="submit">Đăng ký</button>
        </form>
        
        <div class="link">
            <a href="{{ url_for('main.login') }}">Đã có tài khoản? Đăng nhập</a>
        </div>
    </div>
</body>
</html>
